.DS_Store
.idea
*.log
tmp/
scripts/**.html
*.pdf
.Renviron
.renvignore
nohup.out
run.Rout
tmp.R
.exploration_cache
aux_data
# Local Netlify folder
.netlify
reports/*.html
reports/report.md
cache/
data/
.vscode/
.envrc
.nhsn_covid_cache.parquet
.nhsn_flu_cache.parquet
meta/
**/unnamed-chunk*
decreasing_forecasters_cache/
reports/tachyons-minimal.css
reports/season_summary_2025_presentation_files/
reports/gfx/
reports/**/
scripts/reports/season_2025_talk/season_summary_2025_presentation_files/
scripts/reports/season_2025_talk/season_summary_2025_presentation.html
scripts/reports/season_2025_talk/season_summary_2025_presentation_cache/
test_proj
.RData
.Rhistory
