[Unit]
Description=NSSP archive builder

[Service]
Type=oneshot
WorkingDirectory=%h/prod/exploration-tooling-2024
ExecStart=/bin/bash -c 'source ~/.profile && R -s -q -f scripts/build_nssp_archive.R >> cache/build_nssp_archive.log 2>&1'
